body {
	margin: 0;
	background: #fff;
}

.container {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%; 

}

.bold {
    font-weight: 800;
}

header {
  background: #fff;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
    float: right;
}

nav ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
  
    position: relative;
  }


nav ul li a {
    color:rgba(10, 177, 66, 0.692);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.55em;
}   

nav ul li:hover a {
    color: white;
    background-color: rgba(10, 177, 66, 0.692);
}

.home {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 9em; 
}

#logo{
    text-align:center;
    margin-top: 9%;
    margin-bottom: 17%;
    margin-left: auto;
    margin-right: auto;
}
div.hidden {
    display: none;
}
#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url("loadinggif.gif");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
}


